/* CSS © 2017 by Timo Nowak, Artur Makarenko & Till Hammer */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {

    font-family: 'Open Sans', sans-serif;
    
}

html, body, #site-wrapper {

    margin: 0;
    padding: 0;
    
}

#site-wrapper {

    width: 100%;
    height: 100%;

    display: flex;
        
}

#main-column {

    flex: auto;
    
}

#right-column {

    width: 300px;
    
}
